.intro {
    min-height: 429px;
    min-width: 690px;
    margin: 92px 48px 0;

}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .intro {
        max-width: 720px;
        max-height: 429px;
        margin: 88px 24px 0;
    }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .intro {
        margin: 64px 16px 0;
        min-width: 288px;
        min-height: 70px;
    }
}

@media screen and (min-width: 1280px) {
    .intro {
        max-width: 690px;
        max-height: 429px;
        margin: 92px 148px;
    }
}