.place__website {
    max-height: 46px;
    max-width: 456px;
    grid-area: website;
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    margin-bottom: 48px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .place__website {
        margin: 16px 0;
        display: flex;
        align-self: flex-start;
    }
}